header {
	height: 75px;
	margin-bottom: 1rem;

	& nav {
		display: flex;
		align-items: center;

		& #nav-logo {
			font-size: 40px;
			font-family: var(--font-fascinate);
			text-decoration: none;
			align-content: center;
			padding: 0.5rem;
			transition: color 200ms ease-out;

			&:hover {
				color: var(--primary);
			}
		}

		& .menu-container {
			& ul.top-bar {
				list-style-type: none;
				padding: 0;
				margin: 0;

				& li {
					& a {
						font-family: var(--font-marcellus);
						text-decoration: none;
						display: block;
						letter-spacing: 0.02rem;

						&:hover {
							color: var(--secondary);
							background: linear-gradient(
								90deg,
								var(--secondary-dark),
								var(--secondary),
								var(--secondary-dark)
							);
							background-size: 200% auto;
							background-clip: text;
							-webkit-text-fill-color: transparent;
							animation: animatedTextGradient 1s ease-in-out;
						}
					}
				}
			}

			& form {
				height: 35px;
				display: flex;
				position: relative;

				& input {
					border: 0;
					padding-left: 8px;
					background-color: var(--background-light);
					transition: box-shadow 0.2s ease;
				}

				& input:hover,
				input:hover + button {
					box-shadow: 0 2px 0 0 var(--secondary);
				}

				& input:focus,
				input:focus + button {
					box-shadow: 0 2px 0 0 var(--secondary-dark);
				}

				& button {
					background-color: var(--background-light);
					border: 0;
					font-size: 18px;
					color: var(--primary-dark);
					transition: box-shadow 0.2s ease, color 0.2s ease;
					&:hover {
						cursor: pointer;
					}
					&:active {
						color: var(--primary);
					}
				}
			}
		}
	}
}

@media (prefers-reduced-motion) {
	header nav div.menu-container {
		transition: none;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes animatedTextGradient {
		to {
			background-position: 200% center;
		}
	}
}

@media (max-width: 400px) {
	header {
		& nav {
			& div.menu-container {
				right: -100vw;
				width: 100%;
				max-width: unset;
			}
		}
	}
}

@media (max-width: 700px) {
	header {
		& nav {
			justify-content: space-between;

			& .hamburger {
				display: flex;
				cursor: pointer;
				z-index: 901;
				background-color: unset;
				border: unset;
				flex-direction: column;
				gap: 5px;
				padding: 0.5rem;

				& span {
					width: 25px;
					height: 3px;
					background-color: var(--primary-dark);
					transition: background-color 200ms ease-out;
				}

				&:hover span {
					background-color: var(--primary);
				}

				&:has(+ .open) {
					span {
						&:nth-of-type(1) {
							transform: translate(0, 8px) rotate(-45deg);
						}
						&:nth-of-type(2) {
							transform: translate(2.5rem);
							background-color: rgba(0, 0, 0, 0);
							visibility: hidden;
						}
						&:nth-of-type(3) {
							transform: translate(0, -8px) rotate(45deg);
						}
						transition: transform 200ms ease-out, background-color 200ms ease-out, visibility 200ms ease-out;
					}
				}
			}

			& .menu-container {
				position: absolute;
				background-color: var(--primary-light);
				z-index: 900;
				right: -70vw;
				width: 70vw;
				max-width: 350px;
				top: 0;
				transition: right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
				opacity: 0;
				visibility: hidden;
				display: flex;
				flex-direction: column;
				border-bottom: 2px solid var(--secondary-dark);
				padding: 1.2rem 0.5rem 0.5rem 0.5rem;

				&.open {
					right: 0;
					opacity: 1;
					visibility: visible;
				}

				& ul.top-bar {
					& li {
						box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, 0.1);

						&:hover {
							box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, 0.12);
						}

						& a {
							padding: 1.5rem 0.5rem 1rem 0.5rem;
							margin: 5px 0;
						}
					}
				}
			}

			& form {
				width: 100%;

				& input {
					width: calc(100% - 115px);
				}
			}
		}
	}
}

@media (min-width: 701px) {
	header {
		& nav {
			height: 100%;
			gap: 10px;

			#nav-logo {
				position: relative;
			}

			#nav-logo::after {
				content: "";
				position: absolute;
				right: -10px;
				top: 25%;
				height: 50%;
				width: 1px;
				background-color: var(--primary);
				pointer-events: none;
			}

			.hamburger {
				display: none;
			}

			& .menu-container {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;

				& ul.top-bar {
					display: flex;
					align-items: center;
					justify-content: left;
					height: 100%;

					& li {
						display: flex;
						align-items: center;
						height: 100%;

						& a {
							position: relative;
							padding: 8px 15px;
							display: flex;
							align-items: center;
							height: 100%;
							text-decoration: none;

							&:hover {
								text-decoration: underline;

								&::after {
									content: "";
									position: absolute;
									bottom: -1px;
									left: 0;
									width: 100%;
									height: 2px;
									background: linear-gradient(
										90deg,
										var(--secondary-dark),
										var(--secondary),
										var(--secondary-dark)
									);
									background-size: 200% auto;
									animation: animatedTextGradient 1s ease-in-out;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 701px) and (max-width: 1000px) {
}

@media (min-width: 1001px) {
	/* header {
	} */
}
