* {
	color: var(--text);
	font-family: var(--font-kanit-light);
}

body {
	margin: 0;
	background-color: var(--background-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading);
	font-family: var(--font-marcellus);
}

a,
a:visited {
	color: var(--link);
}

button {
	background-color: var(--button);
}

@media (max-width: 500px) {
	body {
		padding: 0 2rem;
	}
}

@media (min-width: 501px) and (max-width: 992px) {
	body {
		padding: 0 6rem;
	}
}

@media (min-width: 993px) {
	body {
		padding: 0 8rem;
	}
}
