* {
	color: var(--text);
	font-family: var(--font-kanit-light);
	box-sizing: border-box;
	&:focus-visible {
		outline: 1px solid;
		color: var(--primary);
	}
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	background-color: var(--background-light);
	overflow-x: hidden;
	position: relative;
	height: 100%;
	min-height: 100vh;
}

section {
	padding-bottom: var(--footer-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading);
	font-family: var(--font-marcellus);
}

h1 {
	display: block;
	background-color: var(--primary-light);
	height: 10rem;
	width: 100vw;
	align-content: center;
	font-size: 2rem;
}

/* Ribbon CSS from https://css-generators.com/ribbon-shapes/ */
/* prettier-ignore */
.heading-badge {
	 --r: .8em; /* control the cutout */
	padding-right: calc(var(--r) + .25em);
	line-height: 1.8;
	clip-path: polygon(-100vw 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,-100vw 100%);
	border-image: conic-gradient(var(--primary) 0 0) fill 0/0/100vw;
	width: fit-content;
	color: var(--primary-light);
}

a,
a:visited {
	color: var(--link);
}

button {
	background-color: var(--button);
}

input:focus {
	outline: none;
}

h1,
.wide-section {
	width: 100%;
	box-sizing: unset;
}

@media (max-width: 700px) {
	body {
		padding: 0 2rem;
	}
	h1,
	.wide-section {
		margin: 0 0 0 -2rem;
		padding: 0 2rem;
	}
}

@media (min-width: 701px) and (max-width: 1000px) {
	body {
		padding: 0 6rem;
	}
	h1,
	.wide-section {
		margin: 0 0 0 -6rem;
		padding: 0 6rem;
	}
}

@media (min-width: 1001px) and (max-width: 1200px) {
	body {
		padding: 0 8rem;
	}
	h1,
	.wide-section {
		margin: 0 0 0 -8rem;
		padding: 0 8rem;
	}
}

@media (min-width: 1201px) {
	body {
		padding: 0 20vw;
	}
	h1,
	.wide-section {
		margin: 0 0 0 -20vw;
		padding: 0 20vw;
	}
}
