.search-container {
	.no-results {
		text-align: center;
		margin: 3rem 0;
	}

	.post-sidebar {
		padding: 1rem 0;
		background: linear-gradient(0deg, transparent, var(--primary-light));

		h3 {
			text-align: center;
		}

		ul {
			max-width: fit-content;
			margin: 1rem auto 3rem;

			li {
				text-align: center;
				border-bottom: 1px dashed var(--primary);
				padding: 5px 15px;

				&:last-of-type {
					border-bottom: none;
				}

				a {
					text-decoration: none;

					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}

	.search-item {
		position: relative;

		&:first-of-type {
			margin-top: 1rem;
		}

		.background {
			background-size: 100%;
			filter: opacity(0.1) sepia(0.5);
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -999;
			background-position: center;

			&.no-image {
				background-color: var(--primary-light);
				filter: opacity(0.5);
			}
		}
		.card-header {
			display: flex;
			justify-content: space-between;
			gap: 5px;
			padding: 0 1rem;

			h3 {
				width: 100%;
				text-align: center;
			}

			span {
				position: relative;
				background-color: var(--secondary-dark);
				writing-mode: vertical-rl;
				line-height: 2rem;
				padding: 0.5rem 0;
				color: var(--primary-light);
				text-decoration: underline overline;
				height: min-content;

				/* inspiration for tag aspect from https://mohitvash.wordpress.com/2016/06/20/css-trick-create-tag-icon-with-dynamic-text-width-using-pure-css/ */
				&::after {
					content: "";
					border-width: 1rem 1rem 0 1rem;
					border-style: solid;
					position: absolute;
					top: 100%;
					left: 0;
					border-color: var(--secondary-dark) transparent transparent transparent;
					background-color: unset;
				}
			}
		}

		p {
			padding: 0 1rem 1rem;
			text-align: justify;
		}
	}
}
